h1 {
    text-align: center;
}

input[type=url] {
    min-width: 50%;
    width: 80%;
    /* margin: 8px 10%; */
    margin: 8px auto;
}

input[type=submit] {
    width: 100px;
    min-width: 100px;
    margin: 8px auto;
}

input {
    display: block;
    box-sizing: border-box;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}