
{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>YouTubed Station</title>
        <link rel="stylesheet" href="{% static 'home/css/a.css' %}">
        <script src="{% static 'home/js/jquery-3.6.0.min.js' %}"></script>
        <script src="{% static 'home/js/index.js' %}"></script>
        <link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">

    </head>

    <body>
        <header>
            <!-- <div class="header-logo"><a href="http://127.0.0.1:8000/">YouTube_Station</a></div> -->
            <ul class="header-menu">
                <li class="header-home"><a href="http://127.0.0.1:8000/">YouTube_Station</a></li>
                <li>解析
                <ul class="dropdwn_menu">
                <li><a href="#">Channel</a></li>
                <li><a href="#">Live</a></li>
                <li><a href="#">Movie</a></li>
                </ul>
                </li>
                <li>お問い合わせ
                <ul class="dropdwn_menu">
                    <li><a href="#">お問い合わせ先</a></li>
                    <li><a href="#">広告掲載について</a></li>
                    </ul>
                </li>
                
            </ul>
        </header>
        <div class="ad">
            <!-- <p>一番伝えたいことを書く</p> -->
        </div>

    
        <div class="main">
            <!-- <div class="form">
                <input type="text" class="input">
                <input type="button" class="submit">
            </div>  -->

            <div class="contents">
                <h2 class="contents-title">Contents</h2>
                <ul class="contents-list-wrapp">
                    <li class="contents-item">
                        <a href="http://127.0.0.1:8000/">
                            <img src="{% static 'home/img/youtube.png' %}" alt="My image1">
                        </a> 
                        <p class="contents-subtitle"><a href="http://127.0.0.1:8000/">Channel</a></p>
                        <p> 
                            　ここではチャンネルについての解析を行います
                        </p>
                    </li>
                
                    <li class="contents-item">
                        <a href="http://127.0.0.1:8000/live/">
                          <img src="{% static 'home/img/mike.png' %}" alt="My image2">
                        </a>
                        <p class="contents-subtitle">
                          <a href="http://127.0.0.1:8000/live/">Live</a>
                        </p>
                        <p>ここではライブについての解析を行います</p>
                    </li>

                    <li class="contents-item">
                        <a href="http://127.0.0.1:8000/">
                            <img src="{% static 'home/img/camera.png' %}" alt="My image3">
                        </a>
                        <p class="contents-subtitle"><a href="http://127.0.0.1:8000/drop/">Movie</a></p>

                        <p>　ここでは動画についての解析を行います</p>
                    </li>
                </ul>
            </div>
        </div>
        <footer>

            <li>
                <p>contact us</p>
                <li><a href="./" class="flowbtn10"><i class="fab fa-twitter"></i></a>
                    <a href="./" class="flowbtn10"><i class="fab fa-instagram"></i></a>
                </li>
            </li>
        </footer>
    </body>
</html>