
html {
    height:100%;
    margin: 0;
}
body {
    height:100%;
    margin: 0;
}
#qwerty {
    height: 100%;
    margin: 0;
}
.main {height:100%;}

.search_box {
    left: 0;
    right: 0;
    position: absolute;
    margin: auto;
}

.search_container{
    position: relative;
    box-sizing: border-box;
    border: 2px solid #DA1725;
    padding: 3px 10px;
    border-radius: 3px;
    height: 2.3em;
    width: 265px;
    overflow: hidden;
}
.search_container input[type="text"]{
    border: none;
    height: 2.0em;
}
.search_container input[type="text"]:focus {
    outline: 0;
}
.search_container input[type="submit"]{
    cursor: pointer;
    font-family: FontAwesome;
    border: none;
    background: #DA1725;
    color: #fff;
    position: absolute;
    width: 3.5em;
    height: 3.0em;
    right: -2px;
    top: -4px;
    outline : none;
}