<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Youtube Station</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'live/index.css' %}">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  </head>
  <body>
    <h1>YoutubeStationへようこそ</h1>
    {% if live_url %}
      <p>{{ live_url }}</p>
    {% endif %}
    <form>
      <!-- <label for="live_url">生放送のURL：</label> -->
      <input type="url" id="live_url" name="live_url" placeholder="生放送のURL">
      <input type="submit" name="Submit" value="解析する">
    </form>
    {% if live_url %}
        <div>
            <canvas id="chart"></canvas>
            <script>
                const labels = [1,2,3,4,5,6,100];
                const data = {
                labels: labels,
                datasets: [{
                    label: 'My First dataset',
                    backgroundColor: 'rgb(255, 99, 132)',
                    borderColor: 'rgb(255, 99, 132)',
                    data: {{ test_data }},
                }]
                };
                const config = {
                    type: 'line',
                    data,
                    options: {
                        scales: {
                            x: {
                                type: 'linear'
                            }
                        }
                    }
                }
                var chart = new Chart(
                    document.getElementById("chart"), config
                )
            </script>
        </div>
    {% endif %}
  </body>
</html>